body {
        padding: 0; 
        margin: 0;
        background: #FFFFFF;
      	font: 13px/17px 'Helvetica Neue', Helvetica, Arial, sans-serif;;
    }
    
    h1 { 
    	margin: auto; 
    }
    
    h1 a, h1 {
      	color: #000; line-height: 1.2;
      	text-decoration: none;
      	font-weight: bold;
      	font-size: 24px;
    }
    
    h1 a:hover { 
      	color: inherit; 
      	border-bottom: solid 2px;
      }
      
    h2 { 
    	margin-top: 0; 
    	font-size: 14px; 
    	font-weight: bold;
    }

    .brickwall h2{
      font-size: 21px;
      line-height: 25px;
    }


    
    
    
    h3 { 
   		font-size: 12px; 
  	  	text-transform: uppercase; 
  	  	letter-spacing: 1px; 
    }
    
    object { 
    	margin-bottom: 1em; 
    	margin-top: 0.5em; 
    	}
    	
    p, pre { 
    	margin-top: 0; 
    	padding-top: 0; 
    	}
    	
    img {
    	display: block; 
    	margin-bottom: 20px; 
    	margin-top: 5px; 
    	}
    	
    a { color: #0b0c0c; 
    	text-decoration: none; 
    	border-bottom: none;
    } 
    
    a:hover { 
    color: inherit; 
    border-bottom: 1px solid;
    }

    a.read-more{
      border-bottom:1px solid;
    }
    a.read-more:hover{
      border:none;
    }
    /* 858585 */
    a img { 
    outline: 0; 
    border: none; 

    }

    .postwrapper{
      margin-left:180px;
      overflow:hidden;
      word-wrap: break-word;
      width:440px;
      margin-top:60px;
    }
    
    .text.post blockquote, .post.quote blockquote, blockquote {  
      margin-left: -30px; 
      padding-left: 30px; 
      color: #222;
      top left no-repeat; 
      font-style: italic;
      margin-top: 0; 
    }
    
    

    .brickwall .realpost {margin-bottom: 0;}
    
      /* for nested blockquotes */
      blockquote blockquote { margin-left: 0; }
      blockquote em { font-style: normal; }
      blockquote ul, blockquote ol { padding-left: 2em; }
    ul, ol { padding-left: 0; }
    
    /* Specific elements. */
    #wrapper {
    	padding: 90px 40px;
    }
    
    #header {
    	width: 100%;
      height: 205px;
      background-color:#FFFFFF;
      position: fixed;
      overflow: hidden;
      padding: 28px 0 0 30px;
      clear: both;
      z-index: 10000;
    }

    #headertitle-container{
      width:100%;
      min-width:1024px;
    }

    .headertitle{
      word-wrap: normal;
    }
    
    
    #mainnav{
      float:left;
    }

    #subnav{
      overflow: auto;
      clear: both;
      font-size: 12px;
      font-weight: bold;
      float:left;
    }
    
    .headlink {
    	float: left;
    	margin-right: 15px;
      vertical-align: middle;
    }

    .headlink h2{
      margin-top:6px;
    }

    #nav .headlink .active,
    .headertitle.active {
      border-bottom:1px solid;
    }
    
    #logo, #logo a{
		float: left;
		border-bottom: none !important;
    z-index:400;
    height:200px;
	}

	
	.headertitle {
		float: left;
		margin: 0 0 0 25px;
	}

  #ajax{
    display: none;
    max-width: 700px;
    padding-bottom:30px;
    margin-right: 25px;
    font: bold 21px/25px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  #main {
      margin: 0 auto;
    }
    
  
    #pager {width: 250px;}
    #past { float: left; } 
   	#future { float: right; margin-right: 4px; } 
    #page { float: left; width: 300px; text-align: center; color: #666; }

    ul li{
      list-style-type: none !important;
      margin: 20px 0;

    }

    ul#light li{
      font-weight:normal;
      font-style:italic;
    }
    
    ul#bottom {
      list-style: none; 
      padding-top: 0; 
      margin-top: 0; 
      padding-left: 0; 
      margin-left: 0;
      width: 340px; 
      float: left; 
      margin-bottom: 2em;
    }
    
    ul#bottom li {
      float: left; 
      margin-right: 40px; 
      padding-left: 0;
      list-style-type: none;
    }
    
    div#foot {
      width: 540px; 
      margin: 0 auto;
      margin-bottom: 40px;
    }
    
    /* Various repeated elements. */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix {
  display: inline-block;
}
 
html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}

	a.follow {
		float: right !important;
		border-bottom: none !important;

	}
	
    
    .north-america a:hover{color: #00D6FF !important}
    .latin-america a:hover{color: #00E652 !important}
    .south-asia a:hover{color: #FF9E00 !important}
    .middle-east a:hover{color: #FF00A6 !important}
    .africa a:hover{color: #008AFF !important}
    .europe a:hover{color: #AD20FF !important}
    .asia a:hover{color: #FF555A !important}
    
    .north-america-active a {color: #00D6FF !important; border-bottom: none !important;}
    .latin-america-active a {color: #00E652 !important; border-bottom: none !important;}
    .south-asia-active a {color: #FF9E00 !important; border-bottom: none !important;}
    .middle-east-active a {color: #FF00A6 !important; border-bottom: none !important;}
    .africa-active a {color: #008AFF !important; border-bottom: none !important;}
    .europe-active a {color: #AD20FF !important; border-bottom: none !important;}
    .asia-active a {color: #FF555A !important; border-bottom: none !important;}
    .global-active a {color: black !important; border-bottom: none !important;}
    
    /* Tag Colors */
    
    a.NYC {color: #00D6FF !important}
    a.nyc {color: #00D6FF !important}
    a.Rio {color: #00E652 !important}
    a.rio {color: #00E652 !important}
    a.SaoPaulo {color: #00E652 !important}
    a.Sao-Paulo {color: #00E652 !important}
    a.saopaulo {color: #00E652 !important}
    a.sao-paulo {color: #00E652 !important}
    a.amman {color: #FF00A6 !important}
    a.Amman {color: #FF00A6 !important}
    a.ammanlab {color: #FF00A6 !important}
    a.amman-lab {color: #FF00A6 !important}
    a.AmmanLab {color: #FF00A6 !important}
    a.Amman-Lab {color: #FF00A6 !important}
    a.mumbai {color: #FF9E00 !important}
    a.Mumbai {color: #FF9E00 !important}
	a.beijing {color: #FF555A !important}
	a.Beijing {color: #FF555A !important}
	a.tokyo {color: #FF555A !important}
    a.Tokyo {color: #FF555A !important}
    a.tokyolab {color: #FF555A !important}
    a.tokyo-lab {color: #FF555A !important}
    a.TokyoLab {color: #FF555A !important}
    a.Tokyo-Lab {color: #FF555A !important}
     
	 .sidebar {
    	float: left;
    	width: 250px;
      font: bold 13px/17px 'Helvetica Neue', Helvetica, Arial, sans-serif;
      margin-bottom: 0px;
      margin-top: 10px;
    }

    .brickwall .sidebar{
      margin-bottom:60px;
    }

    .sidebar blockquote{
      padding:0;
      margin:0;
    }

    .sidebar .tumblr_blog{
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    	
    .tags {
    	font-weight: bold
    }
    
    .hidden-permalink{
      display: none;
    }

    .permalink {
      font-size: 12px;
      font-family: 'Courier New', Courier, monospace;
      font-weight: normal !important;
      margin-top: 1em;
    }
    
    .permalink a {
      text-decoration: none;
      border-bottom: none;
    }
    
    .permalink a:hover {
      text-decoration: none;
      border-bottom: 1px solid;
    }
    
    .label { font-weight: bold; }
 
    .realpost {
      float: left;
      width: 700px;
      max-width: 100%;
      margin-right:25px;
      padding-top: 0; 
      margin-top: 0;
      font: bold 21px/25px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    .brickwall .realpost,
    .brickwall .sidebar{
      font: bold 13px/16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    .postpage .brickwall .realpost{
      font: bold 21px/25px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    
    body#permalink-page div.realpost {
      margin-bottom: 2em;
    }
    
   
    div.audio embed { margin-top: .3em; margin-bottom: 1em; }
    img.album-art { float: right; padding-left: 2em; height: 100px; width: 100px; }
    
	

	
	.embed-container {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;
	}
	
	.embed-container iframe, .embed-container object, .embed-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
    
    div.chat ol {
      list-style: none; margin-top: 0;
    }
      
    /* In case you want to quote in quote post, we need to distinguish
       *the* quote from any other blockquotes in the post. */
    blockquote.thequote { 
      line-height: 1.25;
    }

    .permalink-page .realpost img,
    .permalink-page .text embed,
    .permalink-page .text iframe,
    .permalink-page .text object,
    .permalink-page .link img,
    .permalink-page .link embed,
    .permalink-page .link iframe,
    .permalink-page link object {
      width: 700px;
    }

    .text img,
    .text embed,
    .text iframe,
    .text object,
    .link img,
    .link embed,
    .link iframe,
    link object {
      width: 250px;
      height: auto;
    }

    .text blockquote img {
      max-width: 150px
    }

    
    ol.notes {
        font-size: 12px;
        font-family: 'Courier New', Courier, monospace;
        list-style-type: none;
        margin: 0;
    }
        ol.notes img {
            display: none;
        }
    div.post div.question {
      font-weight: bold;
      margin-bottom: 1em;
    }
    
    .search_query { font-weight: bold; }



    /* MASONRY */


.brickwall .postwrapper{
  width:250px;
  float:left;
}

.brickwall .photoset img{
  width:100%;
}

.select2-drop ul, .select2-drop li{
  margin:0 !important;
}

.select2-search-choice-close:hover{
  text-decoration: none !important;
  border:none !important;
}

#filter{
  height:29px;
}


/* -----------  RED CUSTOM CSS (@ebberly) ---------------------------------------*/

#main {
  margin-top: 180px;

}

#title_logo {
  font-size:24px;
  
}



/*- Post Header ---------*/

.date_type {
  font-size: 12px;
  color:#007eff;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;

}

.date {
  float:left;

}

.type {
  float:right;
  width:150px;
  margin-right:10px;
}


/* --- Post Body ------- */

.text-body {
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 14px;
}

.text-title {
/*font-family:'Times LT W01 Roman';*/
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;

  font-weight:200;

font-size:40px;
line-height:44px;
}


.post {
  border-top:1px solid #000;
  padding-top:7px;
  margin-bottom:0px;

}

.postwrapper {
  margin-bottom:0px;
  padding-bottom: 0px;
}

div.realpost { margin-bottom: 0px; }


.text-title {
  margin-top:30px;
}

#CU_logo {
  position: fixed;
  float:right;
  margin-left:630px;
  top:0%;
}

.text-body {
  display:none;
  
}

#nav{
        position:fixed;
        margin:0px;
        margin-top: 160px;
        overflow: auto;

        font-weight:bold;
    }

  ul #filters {
      -webkit-margin-after: 0em;
      -webkit-margin-before: 0em;
      list-style-type: none;
    }

